body {
	min-width:600px;
}
/*.thumbnail {
	margin: 5 10;
	display: inline-block;
	overflow: hidden;
}
.thumbnail img {

}*/
.productModel i {
	cursor: pointer;
}
.productModel .tile {
	height:400px;
	padding:10 0;
	overflow:scroll;
}
.nav a {
	margin: 5 5 !important;
	padding: 5 10 !important;
}